@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  @apply bg-[#0C0C0C];
}

.select {
  @apply border border-diplomatic px-3 py-1 font-cormorant text-diplomatic text-lg
}

.box {
  @apply lg:max-w-7xl md:max-w-4xl mx-auto lg:px-2 md:px-8 sm:px-9 px-10 w-full
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
